<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432013570109-e20c729ui92e2s5g3k6ritfh7a0s5e3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432013570109-e20c729ui92e2s5g3k6ritfh7a0s5e3t</string>
	<key>API_KEY</key>
	<string>AIzaSyBqs5-RUxC_TJl95cMR4t5v1mqyBDzgR78</string>
	<key>GCM_SENDER_ID</key>
	<string>432013570109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vidicvictoria.vidic</string>
	<key>PROJECT_ID</key>
	<string>vidic-8478f</string>
	<key>STORAGE_BUCKET</key>
	<string>vidic-8478f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432013570109:ios:984524d4babd60c9b17a54</string>
</dict>
</plist>